# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Distribution files
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db